.task-container .nav-pills{
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
}

.task-container .nav-pills .nav-link{
    color: #000000;
    background-color: transparent;
}

.task-container .nav-pills .nav-link.active{
    color: #610A0C;
    font-weight: bold;
}

.task-container table{
    table-layout: fixed;
    border: 1px solid #F6F6F6;
}

.task-container table .taskIcon {
    background-color: transparent;
    outline: none;
    border: none;
}

.task-container table .taskIcon i{
    color:#f8c400 !important;
}

.task-container td, th {
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
}

.task-container .status-0{
    color: #E5383B;
}

.task-container .status-1{
    color: #38E573;
}

.toGrade-content{
    max-height: 400px;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

/* Scrollbar */
.toGrade-content::-webkit-scrollbar {
    width: 10px;         
}

/* Track */
.toGrade-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle */
.toGrade-content::-webkit-scrollbar-thumb {
    background: rgba(97, 10, 12, 0.53);
    border-radius: 10px;
}

/* Handle on hover */
.toGrade-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.graded-content{
    max-height: 400px;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

/* Scrollbar */
.graded-content::-webkit-scrollbar {
    width: 10px;         
}

/* Track */
.graded-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle */
.graded-content::-webkit-scrollbar-thumb {
    background: rgba(97, 10, 12, 0.53);
    border-radius: 10px;
}

/* Handle on hover */
.graded-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* Task Details */
.taskDesc{
    height: 500px;
    align-items: center;
    display: flex;
}

.taskInfo{
    height: 500px;
    align-items: center;
    padding: 40px 20px;
}

.taskDesc .card{
    border: none;
}

.vertical-line{
    border-left: 1px solid #000000;
    height: auto;
}

.taskInfo .col{
    vertical-align: middle;
    font-size: 15px;
    color: #000000;
}


/* Task Examine */
.taskInfo .profile-img{
    height: 80px;
    width: auto;
    border-radius: 50%;
}

.taskInfo .stud-name{
    text-align: left;
    vertical-align: middle;
}