{% extends 'base.html' %}
{% load static %}

{% block title %}Session Actions - {% endblock %}

{% block extra_head %}
    <link href="{% static 'css/modals.css' %}" rel="stylesheet">
    <link href="{% static 'css/session-actions.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
    <li class="nav-item ">
        <a class="nav-link" href="">
            <i class="fa fa-users"></i>
            <span>Students</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'Sessions:index_view' %}">
            <i class="fas fa-bars"></i>
            <span>Sessions</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Social_Network:index_view' %}">
            <i class="fas fa-project-diagram"></i>
            <span>Social Network</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <form method="POST">
            {% csrf_token %}
            <button style="color:white" id='backPageBtn' type="submit" name="goToSessionsPageBtn" class="btn btn-warning">Go back</button>
        </form>
        <h1 class="mx-auto" style = "color: #610a0c"><b>CIT - 101 I am Teknoy</b></h1>
    </div>

    <div class="session-actions-container task-action">
        <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            {% block tabs %}
            {% endblock %}
        </ul>

        {% block tab-content %}
        {% endblock %}
        
    </div>
{% endblock %}

{% block modals %}
    <!-- Task Modals -->
    <!-- <div class='modal fade' id='deleteTask' role="dialog">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <form method = 'POST' > 
                    <div class='modal-body'>
                        <div class='deleteWarning'>Are you sure you want to delete this Task?</div>
                    </div>
                    <div class='modal-footer'>
                        <button type='submit' name='deleteTaskBtn' class='btn modalYesBtn'>Yes</button>
                        <button type='button' class='btn' data-dismiss='modal'>Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class='modal fade' id='addTask' role="dialog">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">Add a Task</h4>
                </div>
                <form method='POST'>
                    <div class='modal-body'>
                            <div class='form-group'>
                                <input type='text' class='form-control' id='taskTitle' name='taskTitle' placeholder="Title" aria-describedby=''>
                            </div>
                            <div class='form-group'>
                                <textarea type='text' class='form-control' id='taskDesc' name='taskDesc' placeholder="Description" rows="5" aria-describedby=''></textarea>
                            </div>
                            <div class='form-group'>
                                <span class='row'>
                                    <div class="col-lg">
                                        <input type='date' class='form-control' id='taskDate' name='taskDate' placeholder="Date" aria-describedby=''>
                                    </div>   
                                    <div class="col-lg">
                                        <input type='time' class='form-control' id='taskTime' name='taskTime' placeholder="Time" aria-describedby=''>
                                    </div>
                                </span>                                                             
                            </div>
                            <div class='form-group'>
                                <label for="interestImg" class='modalCustomFile' style="display: inline-block;">
                                    Choose File                                    
                                    <input type="file" id="interestImg" name="interestImg" class='modalFileBtn'>
                                </label>
                                <p class="modalFileLabel" style="display: inline-block;">file.docs</p>
                            </div>
                    </div>                    
                    <div class='modal-footer'>
                        <button type='submit' name='addTaskBtn' class='btn modalYesBtn'>Add</button>
                        <button type='button' class='btn' data-dismiss='modal'>Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- Modules Modals -->
    <!-- <div class='modal fade' id='addModules' role="dialog">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header justify-content-center">
                    <h4 class="modal-title">Add a Module</h4>
                </div>
                <form method='POST' action="{% url 'Modules:index_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class='modal-body'>
                        <div class='form-group'>
                            <input type='text' class='form-control' name='modulename' placeholder="Module Name" aria-describedby=''>
                        </div>
                    </div>                    
                    <div class='modal-footer'>
                        <button type='submit' name='addModulesBtn' class='btn modalYesBtn'>Add</button>
                        <button type='button' class='btn' data-dismiss='modal'>Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- {% for module in modules %}
        <div class='modal fade' id='deleteModules-{{module.mod_ID}}' role="dialog">
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <form method = 'POST' action="{% url 'Modules:index_view' %}"> 
                        {% csrf_token %}
                        <input type="text" name="mod_ID" value="{{module.mod_ID}}" hidden>
                        <div class='modal-body'>
                            <div class='deleteWarning'>Are you sure you want to delete this Module?</div>
                        </div>
                        <div class='modal-footer'>
                            <button type='submit' name='deleteModulesBtn' class='btn modalYesBtn'>Yes</button>
                            <button type='button' class='btn' data-dismiss='modal'>Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class='modal fade' id='addFile-{{module.mod_ID}}' role="dialog">
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title">Add a Document</h4>
                    </div>
                    <form method='POST' class="form-group" action="{% url 'Modules:index_view' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class='modal-body text-center'>
                            <br>                    
                            <div class='form-group'>
                                <input type="text" name="module_id" value="{{module.mod_ID}}" hidden>
                                <input type="file" name="files" accept=".pdf">
                            </div>
                        </div>                    
                        <div class='modal-footer'>
                            <button type='submit' name='addFileBtn' class='btn modalYesBtn'>Add</button>
                            <button type='button' class='btn' data-dismiss='modal'>Close</button>
                        </div>
                    </div>  
                    </form>
                </div>
            </div>
        </div>

        {% for files in module.files%}
            <div class='modal fade' id='deleteFile-{{files.id}}' role="dialog">
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <form method = 'POST' action="{% url 'Modules:index_view' %}"> 
                            {% csrf_token %}
                            <input type="text" name="fileID" value="{{files.id}}" hidden>
                            <div class='modal-body'>
                                <div class='deleteWarning'>Are you sure you want to delete this File?</div>
                            </div>
                            <div class='modal-footer'>
                                <button type='submit' name='deleteFileBtn' class='btn modalYesBtn'>Yes</button>
                                <button type='button' class='btn' data-dismiss='modal'>Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endfor %} -->

{% endblock %}

{% block js %}
{% endblock %}