{% extends 'base.html' %}
{% load static %}
{%block extra_head %}
<link href="{% static 'css/session-actions.css' %}" rel="stylesheet">
<link href="{% static 'css/taskView.css' %}" rel="stylesheet">
{% endblock %}
{% block sidebar %}
    <li class="nav-item ">
        <a class="nav-link" href="">
            <i class="fa fa-users"></i>
            <span>Students</span>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'Sessions:index_view' %}">
            <i class="fas fa-bars"></i>
            <span>Sessions</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Social_Network:index_view' %}">
            <i class="fas fa-project-diagram"></i>
            <span>Social Network</span>
        </a>
    </li>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->       
    <div class="session-actions-container">
        <div class="pt-2 pl-3">
            <form method='POST' action = "{% url 'Tasks:view_task' task.task_id %}">
                {% csrf_token %}                            
                <span>
                    <h1 class='session-label'>{{task.task_title}}</h1>        
                    <button type="submit" class="btn backBtn" name="backBtn">Back</button>
                </span>       
            </form>                     
        </div>
        <br>
        <div class="task-details">
            <div class="row pl-3 pr-3">
                <div class="col taskDesc">                                    
                    <div class="mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <!-- <input type="text" name="task_id" value="{{task.task_id}}" hidden> -->
                                <p class='card-text'><a class="file_links" href="{{ task.task_file.url }}" target="_blank">{{ task.task_file }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="col taskInfo">
                    <div class="col">
                        <h5>Description :</h5>
                        <p>{{ task.task_description }}</p>
                    </div>
                    <div class="col">
                        <h5>Due Date :</h5>
                        <p>{{ task.task_dateDue|date:"d-m-Y" }}</p>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <form method="POST" action="{% url 'Tasks:view_task' task.task_id %}">
                                {% csrf_token %}
                                <button type='submit' class='btn closeBtn' name="closeBtn">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
{% endblock %}